<header>
  <nav>
    <div class="nav-container">
      <a href="/quizzes/home"><img class="logo-img" src="/docs/Quizhoot Logo1.png" alt="quizhoot logo-img"></a>
      <div class="nav-sections">
        <% if (userID) { %>
          <button><a href="/quizzes/new">Create a Quiz</a></button>
          <button><a href="/quizzes/user/<%-userID-%>">My profile</a></button>
          <button><a href="/users/logout"> Logout </a></button>
          <% } else { %>
          <!-- <button><a href="/users/login"> Login </a></button> -->
          <% } %>
      </div>
    </div>
  </nav>

</header>
