<header>
  <nav>
    <div class="nav-container">
      <img class="logo-img" src="/docs/Quizhoot Logo.png" alt="quizhoot logo-img">
      <button href="/login"> Login </button>
      <button><a href="/quizzes/home"> Home</a></button>
      <button><a href="/quizzes/new">Create a Quiz</a></button>
      <button href="quizzes/new"> Profile </button>
      <button href="/login"> Logout </button>

      </div>
  </nav>

</header>
