<div>
    <h2>Login</h2>
    <form method="POST" action="/users/login" class="login-form">
      <label class="form-label">Email:</label>
      <input class="input-text"
             type="email"
             name="email"
             placeholder="Enter your email"></input>
       <label class="form-label">Password:</label>
       <input class="input-text"
             type="password"
             name="password"
             placeholder="Enter your password"></input>
      <button class="primary-button" type="submit">Login</button>
    </form>
    <h3>Don't have an account yet?</h3>
    <button class="secondary-button"
                  id="register-btn"
                  type="button">Sign up</button>
</div>
