<div class="home-profile">
  <div class="img-container">
    <img class="quiz-img" src="/docs/card_01.png" alt="card image">
  </div>
  <h2 class="side-quiz-title card-title"></h2>
  <p class="side-quiz-description card-text"></p>
  <button class="secondary-button"
                    id="btn-back"
                    type="button">Edit quiz information</button>
</div>
