<div>
  <h2>Register</h2>
  <form method="POST" action="/users" class="login-form">
    <label class="form-label">Name:</label>
    <input type="text"
           name="name"
           placeholder="Enter your name"
           class="input-text"></input>
    <label class="form-label">Email:</label>
    <input type="email"
           name="email"
           placeholder="Enter your email"
           class="input-text"></input>
    <label class="form-label">Password:</label>
    <input type="password"
           name="password"
           placeholder="Enter your password"
           class="input-text"></input>
    <button type="submit"
           class="primary-button">Register</button>
    <button type="button"
            id="login-btn"
            class="secondary-button">Back to login</button>
  </form>
</div>
