<!DOCTYPE html>
<html lang="en">

<head>
  <title>Create a quiz</title>

  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- Fonts -->
  <script src="https://kit.fontawesome.com/2bfd122b18.js" crossorigin="anonymous"></script>

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" />
  <link rel="stylesheet" href="/vendor/border-box.css" />
  <link rel="stylesheet" href="/styles/main.css" />
  <link rel="stylesheet" href="/styles/layout.css" />
  <link rel="stylesheet" href="/styles/header.css" />
  <link rel="stylesheet" href="/styles/quiz-form.css" />


  <script src="/vendor/jquery-3.0.0.js"></script>
  <script defer src="/scripts/app.js"></script>
  <script defer src="/scripts/quiz-form.js"></script>
</head>

<body>
  <%- include('partials/_header') %>
    <main>
      <h1>Create a Quiz</h1>
      <br><br>
      <form action ="/quizzes" method="POST" id="new-quiz-form" class="new-quiz-form">
        <div class="step_1">
          <label class="form-label">Quiz title</label>
          <input class="input-text"
                 type="text"
                 id="title"
                 name="title"
                 placeholder="Enter a title">
          <br><br>
          <label class="form-label">Description</label>
          <textarea
            class="input-area"
            type="text"
            id="description"
            name="description"
            placeholder="Enter a description"></textarea>
          <br><br>
          <label class="form-label">Privacy</label>
          <div class="privacy">
            <div>
              <input type="radio" id="public" name="public" value="1" checked="checked">
              <label for="public">Public</label><br>

            </div>
            <div>
              <input type="radio" id="public" name="public" value="0">
              <label for="private">Private</label>
            </div>
          </div>
          <br><br>
          <hr class="hr">
          <br><br>
          <button class="secondary-button"
                  id="btn-add-questions"
                  type="button">Add questions</button>
        </div>

        <div class="step_2">
          <button class="secondary-button"
                  id="btn-back"
                  type="button">Back to quiz info</button>

          <div class="questions-container"></div>
          <button class="secondary-button"
                  id="btn-add-question"
                  type="button">Add a question</button>
          <br><br>
          <hr class="hr">
          <br><br>
          <button class="primary-button" type="submit">Submit</button>
        </div>
        <div class="step_3">
          <label class="form-label">Share with your friends</label>
          <br><br>
          <div class="share-link">
            <label>URL to replace by dynamic link</label>
            <button class="secondary-button"><i class="fa-regular fa-copy"></i></button>
          </div>
          <br><br>
          <hr class="hr">
          <br><br>
          <button class="primary-button" type="button">Go to the quiz</button>
          <br><br>
      </form>
    </main>
</body>

</html>
