<!DOCTYPE html>
<html lang="en">
<head>

  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" />
  <link rel="stylesheet" href="/vendor/border-box.css" />
  <link rel="stylesheet" href="/styles/main.css" />
  <link rel="stylesheet" href="/styles/layout.css" />
  <link rel="stylesheet" href="/styles/header.css" />
  <link rel="stylesheet" href="/styles/footer.css" />
  <link rel="stylesheet" href="/styles/home-page.css" />


  <script src="/vendor/jquery-3.0.0.js"></script>
  <script defer src="/scripts/app.js"></script>
  <title>Register</title>
</head>
<body>
  <%- include('partials/_header') %>

  <main>
    <h1>Login</h1>
    <form method="POST" action="/users/login">
    <div>
      <label>Email: </label> <input type="email" name="email" style="width: 300px; " />
    </div>
    </div>
      <label>Password: </label> <input type="password" name="password" style="width: 300px;" />
    </div>
    <p></p>
    <button type="submit" >Login</button>
  </form>
  <p>Don't have an account yet? <button onclick="window.location.href='/users/new'"">Sign Up</button></p>
  </main>
  <%- include('partials/_footer') %>
</body>
</html>
