<!DOCTYPE html>
<html lang="en">

<head>
  <title>Login</title>

  <meta charset="UTF-8" >
  <meta http-equiv="X-UA-Compatible" content="IE=edge" >
  <meta name="viewport" content="width=device-width, initial-scale=1.0" >

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" />
  <link rel="stylesheet" href="/vendor/border-box.css" />
  <link rel="stylesheet" href="/styles/main.css" />
  <link rel="stylesheet" href="/styles/layout.css" />

  <script src="/vendor/jquery-3.0.0.js"></script>
  <script defer src="/scripts/users.js"></script>
</head>

<body>
  <h1>Login</h1>
  <label>Username</label>
  <input type="text" id="username" placeholder="Enter your username">
  <br><br>
  <label>Password</label>
  <input type="text" id="username" placeholder="Enter your password">
  <br><br>
  <button type="submit" id="login">Login</button>
  <br><br>
  <div class="signup_card">
    <label>Don't have an account yet?</label>
    <button type="button">Sign up</button>
  </div>
</body>

</html>
