@import 'variables';

.nav-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  // text-align: center;
  padding: 25px;
  padding-top: 40px;
  max-width: 100%;
  // height: 520px;
  background-color: $backgroundColour;
  color: $textColour;
}

.logo-img {
  height: 125px;
  padding: 5px;
}

.nav-container button {
  text-align: left;
  background-color: $buttonColour;
  color: $buttonTextColour;
  padding: 15px;
  font-weight: $bold;
}

.nav-container button a{
  color: $buttonTextColour;
}
