@import 'variables';

.card {
// width: 700px;
display: flex;
flex-direction: column;
padding: 50px 30px;
background-color: $white;
width: 50%;
border-radius: 4px;
}


.card-body h3 {
  text-align: left;
}


