@import 'variables';

.quiz-layout {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 80%;
}

.new-quiz-form {
  display: flex;
  flex-direction: column;
  padding: 30px 30px;
  background-color: $backgroundColour;
  width: 65%;
  border-radius: 4px;
  margin-bottom: 50px;
}

.quiz-partial {
  display: none;
  flex-direction: column;
  // align-items: center;
  padding: 50px 30px;
  background-color: $backgroundColour;
  width: 30%;
  border-radius: 4px;
  margin-bottom: 50px;
  height: fit-content;
}

.question {
  display: flex;
  flex-direction: column;
  padding: 50px 30px;
}

.question-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-size: $questionTextFontSize;
}

.step_1 {
  display: flex;
  flex-direction: column;
}

.step_2 {
  display: none;
  flex-direction: column;
}

.privacy {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 35%;
}

.hr {
  border: 1px solid $darkGreen;
  margin-left: 0;
  margin-right: 0;
}

.share-link {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  max-width: 40%;
}

.img-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}





