@import 'variables';

.profile-layout {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 80%;
}

.card-profile {
  display: flex;
  flex-direction: column;
  padding: 50px 30px;
  margin-bottom: 18px;
  background-color: $lightGrey;
  border-radius: 4px;
  }

.user-quizzes {
  display: flex;
  flex-direction: column;
  padding: 50px 30px;
  background-color: $backgroundColour;
  width: 65%;
  border-radius: 4px;
  margin-bottom: 50px;
}

.user-profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 30px;
  background-color: $backgroundColour;
  width: 30%;
  border-radius: 4px;
  margin-bottom: 50px;
  height: fit-content;
}

.profile-img {
  width: 170px;
  height: 170px;
}

.quiz-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.info-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: $lightGrey;
  width: 48%;
  padding: 5%;
  border-radius: 4px;
}

.average-score {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.score {
  font-size: 100px;
  font-weight: 800;
}

.big-number {
  font-size: 50px;
  font-weight: 800;
}

