@import 'variables';

.profile-layout {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 80%;
}

.user-quizzes {
  display: flex;
  flex-direction: column;
  padding: 50px 30px;
  background-color: $backgroundColour;
  width: 65%;
  border-radius: 4px;
  margin-bottom: 50px;
}
.user-profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 30px;
  background-color: $backgroundColour;
  width: 30%;
  border-radius: 4px;
  margin-bottom: 50px;
}

.profile-img {
  width: 170px;
  height: 170px;
}

.hr {
  border: 1px solid #63099c;
  margin-left: 0;
  margin-right: 0;
}

.quiz-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.info-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: $lightGrey;
  width: 48%;
  padding: 5%;
  border-radius: 4px;
}

.average-score {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.score {
  font-size: 72px;
}

