//colour pallete
$white: #fff;
$lightGrey: #cad2c5;
$lightGreen: #84a98c;
$mediumGreen: #52796f;
$darkGreen: #354f52;
$greenBlack: #2f3e46;
$black: #000;

// colours
$backgroundColour: #fff;
$textColour: #000;
$buttonColour: $darkGreen;
$buttonTextColour: #fff;


//font styles
$bold: 600;
$regular: 400;
$questionTextFontSize: 16px;
$questionTitleFontSize: 40px;
$descriptionFontSize: 17px;

//Header styling
h1 {
  color: $white;
  font-size: $questionTitleFontSize;
  font-weight: 600;
  text-transform: uppercase;

}

.title {
  font-family: 'Pacifico', cursive;
  font-size: 48px;
  margin-bottom: 20px;
}

h3 {
  color: $black;
  font-size: 20px;
}
p {
  color: $black;
  font-size: $descriptionFontSize;
  line-height: 28px;
}

//Primary button styling
.primary-button {
  background-color: $greenBlack;
  border-radius: 8px;
  border-style: none;
  color: $white;
  cursor: pointer;
  display: inline-block;
  font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: 500;
  height: 40px;
  width: fit-content;
  line-height: 20px;
  list-style: none;
  margin: 0;
  outline: none;
  padding: 10px 16px;
  position: right;
  text-align: center;
  text-decoration: none;
  transition: color 100ms;
  vertical-align: baseline;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.primary-button a {
  text-decoration: none;
  color: $white;
}

.primary-button:hover,
.primary-button:focus {
  background-color: $mediumGreen;
}

.secondary-button {
  color: $black;
  cursor: pointer;
  display: inline-block;
  font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 15px;
  font-weight:600;
  height: 30px;
  width: fit-content;
  line-height: 20px;
  padding: 0;
  border: none;
  background: none;
  text-decoration: underline;
}

.secondary-button:hover,
.secondary-button:focus {
  color: $greenBlack;
}

.right-button {
  display: flex;
  align-self: flex-end;
}

//Form styling
.login-form {
  display: flex;
  flex-direction: column;
  width: 100%;
  border-radius: 4px;
}
.form-label {
  font-size: $questionTextFontSize;
  font-weight: $bold;
  margin-bottom: 8px;
}

.input-text {
  height: 45px;
  padding: 15px;
  border-radius: 4px;
  border-width: 1px;
  margin-bottom: 20px;
}

.input-area {
  padding: 15px;
  border-radius: 4px;
  border-width: 1px;
}

.question-title {
  font-size: 22px;
  font-weight: 600;
}

// Quiz card styling
.card-quiz {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 30px;
  padding-right: 50px;
  margin-bottom: 18px;
  background-color: $backgroundColour;
  border-radius: 4px;
  }

// .card {
// display: flex;
// flex-direction: column;
// padding: 50px 30px;
// background-color: $white;
// border-radius: 4px;
// }

.card-body {
  display: flex;
  flex-direction: column;
}

.card-body h3 {
  text-align: left;
}

.card-img {
  width: 150px;
  height: 150px;
  margin-right: 30px;
}

.quiz-img {
  width: 200px;
  height: 200px;
}
