//colour pallete
$white: #fff;
$lightGrey: #cad2c5;
$lightGreen: #84a98c;
$mediumGreen: #52796f;
$darkGreen: #354f52;
$greenBlack: #2f3e46;
$black: #000;

// colours
$backgroundColour: #fff;
$textColour: #000;
$buttonColour: $darkGreen;
$buttonTextColour: #fff;


//font styles
$bold: 600;
$regular: 400;
$questionTextFontSize: 17px;
$questionTitleFontSize: 40px;
$descriptionFontSize: 17px;

//H1 styling
h1 {
  color: $white;
  font-size: $questionTitleFontSize;
}
h3 {
  color: $black;
  font-size: 20px;
}
p {
  color: $black;
  font-size: $descriptionFontSize;
}

//Primary button styling
.primary-button {
  background-color: $greenBlack;
  border-radius: 8px;
  border-style: none;
  color: $white;
  cursor: pointer;
  display: inline-block;
  font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: 500;
  height: 40px;
  width: fit-content;
  line-height: 20px;
  list-style: none;
  margin: 0;
  outline: none;
  padding: 10px 16px;
  position: right;
  text-align: center;
  text-decoration: none;
  transition: color 100ms;
  vertical-align: baseline;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.primary-button:hover,
.primary-button:focus {
  background-color: $mediumGreen;
}
