//colour pallete
$lightGrey: #cad2c5;
$lightGreen: #84a98c;
$mediumGreen: #52796f;
$darkGreen: #354f52;
$greenBlack: #2f3e46;

// colours
$backgroundColour: #fff;
$textColour: #000;
$buttonColour: $darkGreen;
$buttonTextColour: #fff;


//font styles
$bold: 600;
