@import 'variables';


.quiz {
  display: flex;
  flex-direction: column;
  padding: 50px 30px;
  background-color: $white;
  width: 50%;
  border-radius: 4px;
}
#attempt-quiz-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 1500px;

}

.title {
  font-family: "Pacifico", cursive;
  font-size: 48px;
  margin-bottom: 20px;
}

.quiz-question {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 8px;
  font-weight: 450;
  font-size: $questionTextFontSize;
}


.quiz, .choices {
  list-style-type: none;
}

.choices li {
  padding-top: 3px;
  font-size: 15.5px;
}

.view-results {
  background-color: $greenBlack;
  border-radius: 8px;
  border-style: none;
  color: $white;
  cursor: pointer;
  display: inline-block;
  font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 15.5px;
  font-weight: 500;
  height: 50px;
  width: 100px;
  line-height: 20px;
  list-style: none;
  margin: 0;
  outline: none;
  padding: 10px 16px;
  position: right;
  text-align: center;
  text-decoration: none;
  transition: color 100ms;
  vertical-align: baseline;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

p {
  font-weight: 700;
}
