// .quiz {
//   // display: flex;
//   // flex-direction: column;
//   // justify-content: flex-start;
//   // align-items: left;
//   // text-align: left;
//   // align-content: flex-start;
//   // width: 700px;
// }

.quiz {
  display: flex;
  flex-direction: column;
  padding: 50px 30px;
  background-color: #fff;
  width: 50%;
  border-radius: 4px;
}

.quiz-question {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 8px;
  font-weight: 450;
  font-size: 17px;
}


.quiz, .choices {
  list-style-type: none;
  // padding: 0;
}

.choices li {
  padding-top: 3px;
  font-size: 15.5px;
}

.view-results {
  background-color: #63099c;
  border-radius: 8px;
  border-style: none;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 15.5px;
  font-weight: 500;
  height: 50px;
  width: 100px;
  line-height: 20px;
  list-style: none;
  margin: 0;
  outline: none;
  padding: 10px 16px;
  position: right;
  text-align: center;
  text-decoration: none;
  transition: color 100ms;
  vertical-align: baseline;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}
